<template>
    <div class="dashboard">
        <h1>Dashboard</h1>
        <v-container class="my-5">

            
            <v-layout row class="mb-3">
              <v-tooltip top>
              <v-btn small flat color="grey" @click="sortBy('title')" slot="activator">
                <v-icon left small>folder</v-icon>
                <span class="caption text-lowercase">By property name</span>
              </v-btn>
              <span>Sort by Property Name</span>
              </v-tooltip>

              <v-tooltip top>
                <v-btn small flat color="grey" @click="sortBy('person')" slot="activator">
                <v-icon left small>person</v-icon>
                <span class="caption text-lowercase">By name</span>
              </v-btn>
              <span>Sort by Status</span>
              </v-tooltip>
              
               
            </v-layout>
            <v-card class="pa-3" v-for="propertie in properties" :key="propertie.title">
                <v-layout row wrap :class="`pa-3 propertie ${propertie.status}`">
                   <v-flex xs12 md6>
                     <div class="caption grey--text">Personal Property Details</div>
                      <v-img src="https://cdn.vuetifyjs.com/images/cards/house.jpg" :aspect-ratio="16/9"></v-img>
                     <div> {{propertie.title}}</div>
                    </v-flex>
                    <v-flex xs6 sm4 md2>
                    <div class="caption grey--text">Property Details</div>
                     <div> {{propertie.person}}</div>
                    </v-flex>
                     <v-flex xs6 sm4 md2>
                    <div class="caption grey--text">Created:</div>
                     <div> {{propertie.due}}</div>
                    </v-flex>
                    <v-flex xs2 sm4 md2>
                    <div class="caption grey--text right">
                      <v-chip small :class="`${propertie.status} white--text caption my-2`">{{propertie.status}}</v-chip>
                    </div>
                     
                    </v-flex>

                </v-layout>
                <v-divider></v-divider>
            </v-card>
            
         </v-container>


    </div>   
</template>

<script>
export default {
  data() {
    return {
      properties: [
        { title: 'Design a new website', person: 'The Net Ninja', due: '1st Jan 2019', status: 'ongoing', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Code up the homepage', person: 'Chun Li', due: '10th Jan 2019', status: 'complete', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Design video thumbnails', person: 'Ryu', due: '20th Dec 2018', status: 'complete', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
        { title: 'Create a community forum', person: 'Gouken', due: '20th Oct 2018', status: 'overdue', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur eos eligendi illum minima adipisci deleniti, dicta mollitia enim explicabo fugiat quidem ducimus praesentium voluptates porro molestias non sequi animi!'},
      ]
    }
  },
  methods: {
    sortBy(prop){
      this.properties.sort((a,b) => a[prop] < b[prop] ? -1 : 1)
    }
  }

}
</script>

<style>
.propertie.complete {
  border-left: 4px solid #3cd1c2;
}
.propertie.ongoing {
  border-left: 4px solid orange;
}
.propertie.overdue {
  border-left: 4px solid tomato;
}
.v-chip.complete{
  background: #3cd1c2;
}
.v-chip.ongoing{
  background: #ffaa2c;
}
.v-chip.overdue{
  background: #f83e70;
}

</style>