<template>
    <div class="properties">
        <h1>My Properties</h1>

        <v-container class="my-5">
         <v-layout row wrap>
             <v-flex xs12 sm6 md4 lg3>
            
                
                  

             </v-flex>
         </v-layout>
         </v-container>

    </div>   
</template>

<script>

export default {

}
</script>