<template>
    <nav>
        <v-toolbar flat color="yellow" app>
            <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title class="text-uppercase black--text">
                <span>PPA</span>
                </v-toolbar-title>
         <v-spacer></v-spacer>       
         <v-btn flat color="grey">
             <span>Sign Out</span>
             <v-icon right>exit_to_app</v-icon>
         </v-btn>   
        </v-toolbar>

    <v-navigation-drawer app v-model="drawer" class="black">
        <v-list>
            <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
                <v-list-tile-action>
                    <v-icon class="white--text">{{ link.icon }}</v-icon>
                </v-list-tile-action>
               <v-list-tile-content>
                   <v-list-tile-title class="white--text">{{ link.text }}</v-list-tile-title>
               </v-list-tile-content> 
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            drawer: false,
            links: [
                {icon: 'dashboard', text: 'Dashboard', route: '/'},
                {icon: 'folder', text: 'My Properties', route: '/properties'},
                {icon: 'person', text: 'User Management', route: '/usermanagement'},
            ]
        }
    }
}
</script>